extends layout

block content
  div(class='row clearfix')
    div(class='col-md-12')
      div(class='container' style='width: 960px;')
          include partial/sidebar.html
          include content/main.html